SUPABASE_URL=https://zcgcgvpgewktjowikphy.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpjZ2NndnBnZXdrdGpvd2lrcGh5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ5NjU5MDIsImV4cCI6MjA5MDU0MTkwMn0.3pNJHVlYhd3yqXjWKe3xt6uIzUbT_JDWEg--iji2c2c
SUPABASE_SERVICE_ROLE_KEY=TU_SERVICE_ROLE_KEY
FUNDS_PROVIDER_MODE=mock
